Repository 6639835/xp2gdl90: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-build-scripts, check-version-consistency, check-cmake-syntax, check-header-guards, check-plugin-exports, check-test-naming, check-documentation-build

check-build-scripts:
  name: Validate build scripts
  entry: python
  args:
  - -c
  - import sys; sys.exit(0)
  language: system
  pass_filenames: false

check-version-consistency:
  name: Check version consistency
  entry: bash
  args:
  - -c
  - test -f VERSION && grep -q "$(cat VERSION)" README.md
  language: system
  pass_filenames: false

check-cmake-syntax:
  name: Check CMake syntax
  entry: cmake
  args:
  - -P
  - '-'
  language: system
  pass_filenames: false

check-header-guards:
  name: Check C++ header guards
  entry: python
  args:
  - -c
  ...

check-plugin-exports:
  name: Check plugin symbol exports
  entry: bash
  args:
  - -c
  ...

check-test-naming:
  name: Check test file naming convention
  entry: python
  args:
  - -c
  ...

check-documentation-build:
  name: Check documentation can build
  entry: bash
  args:
  - -c
  - ''' if command -v doxygen >/dev/null 2>&1; then if [ -f Doxyfile ]; then doxygen Doxyfile >/dev/null 2>&1 || { echo "Documentation build failed" exit 1 } fi fi '''
  language: system
  pass_filenames: false

Remove Log.txt file, which contained diagnostic information for X-Plane 12.2.1. This file was automatically generated and is no longer needed in the repository.
  Log.txt
Due: none

Add GDL-90 constants and helper functions for traffic data processing
  src/xp2gdl90.cpp
Due: check-documentation-build

Update README to reflect the correct release date for version 1.0.5, changing it from 2025-01-23 to 2025-08-29. This ensures accurate documentation of recent updates in the project.
  README.md
Due: check-version-consistency, check-documentation-build

Add aircraft identification and transponder data handling in XP2GDL90
  src/xp2gdl90.cpp
Due: check-documentation-build

Update version from 1.0.7 to 1.0.6, reflecting the latest release changes and ensuring consistency in versioning.
  VERSION
Due: check-version-consistency

Update version from 1.0.6 to 1.0.7, reflecting the latest release and ensuring version consistency.
  VERSION
Due: check-version-consistency

Refactor CMakeLists.txt to set MSVC runtime library property after target creation
  CMakeLists.txt
Due: check-cmake-syntax

Update .gitignore to exclude specific library files and add new binary libraries for Linux and Windows platforms
  .gitignore
  SDK/Libraries/Lin/XPLM_64.so
  SDK/Libraries/Lin/XPWidgets_64.so
  SDK/Libraries/Win/XPLM_64.lib
  SDK/Libraries/Win/XPWidgets_64.lib
Due: none

Remove GDL 90 Data Interface Specification document due to deprecation.
  docs/GDL90_Public_ICD_RevA.pdf
  docs/GDL90_Public_ICD_RevA.txt
Due: none

Update GitHub Actions workflow to use the latest Ubuntu version for the build environment
  .github/workflows/build.yml
Due: none

Add write permissions for contents in GitHub Actions workflow
  .github/workflows/build.yml
Due: none

Enhance GitHub Actions workflow by adding caching for dependencies to improve build performance
  build_linux.sh
  build_mac.sh
  build_win.bat
Due: none

Refactor config parsing to improve error handling and validation; ensure valid IP address format and port range, and add checks for heartbeat and position rates.
  src/config.cpp
  src/main.cpp
  src/udp_broadcaster.cpp
Due: check-documentation-build

Update CMakeLists.txt to enforce consistent MSVC runtime library settings across all targets, removing per-target overrides for improved maintainability.
  CMakeLists.txt
Due: check-cmake-syntax

Refactor CMakeLists.txt to set MSVC runtime library per target, enhancing flexibility and maintainability. Update core and plugin libraries to utilize the new function for consistent runtime settings.
  CMakeLists.txt
Due: check-cmake-syntax

Fix MSVC runtime library setting in CMakeLists.txt to ensure correct configuration for Debug builds, improving consistency across targets.
  CMakeLists.txt
Due: check-cmake-syntax

Add .gitmodules file to include ImGui submodule for UI components
  .gitmodules
Due: none

Add GDL 90 extended specification reference documents for ForeFlight integration. Include PDF and extracted text versions under docs to support protocol implementation and review.
  docs/GDL 90_Extended_Specification.pdf
  docs/GDL 90_Extended_Specification.txt
Due: none

fix(ownship): use altitude_ft_pilot for ownship report altitude
  README.md
  src/main.cpp
Due: check-version-consistency, check-documentation-build

docs(readme): update README to match current build and runtime behavior
  README.md
Due: check-version-consistency, check-documentation-build

fix: validate runtime settings and repair JSON parsing
  CMakeLists.txt
  README.md
  include/xp2gdl90/protocol_utils.h
  scripts/coverage.sh
  src/foreflight_encoder.cpp
  src/main.cpp
  src/protocol_utils.cpp
  src/settings.cpp
  src/settings_ui.cpp
  src/simple_json.cpp
  tests/test_foreflight_encoder.cpp
  tests/test_foreflight_protocol.cpp
  tests/test_gdl90_encoder.cpp
  tests/test_protocol_utils.cpp
  tests/test_settings.cpp
  tests/test_settings_ui.cpp
  tests/test_simple_json.cpp
  tests/test_udp_broadcaster.cpp
Due: check-version-consistency, check-cmake-syntax, check-header-guards, check-test-naming, check-documentation-build

test(udp): cover POSIX socket operation failure paths
  tests/test_udp_broadcaster.cpp
Due: check-test-naming, check-documentation-build

style: format C++ sources
  include/xp2gdl90/foreflight_encoder.h
  include/xp2gdl90/foreflight_protocol.h
  include/xp2gdl90/gdl90_encoder.h
  include/xp2gdl90/protocol_utils.h
  include/xp2gdl90/settings.h
  include/xp2gdl90/settings_ui.h
  include/xp2gdl90/simple_json.h
  include/xp2gdl90/udp_broadcaster.h
  include/xp2gdl90/udp_receiver.h
  src/encoder_support.cpp
  src/foreflight_encoder.cpp
  src/foreflight_protocol.cpp
  src/gdl90_encoder.cpp
  src/main.cpp
  src/protocol_utils.cpp
  src/settings.cpp
  src/settings_ui.cpp
  src/simple_json.cpp
  src/udp_broadcaster.cpp
  src/udp_receiver.cpp
  tests/frame_test_utils.h
  tests/test_foreflight_encoder.cpp
  tests/test_foreflight_protocol.cpp
  tests/test_gdl90_encoder.cpp
  tests/test_harness.h
  tests/test_main.cpp
  tests/test_protocol_utils.cpp
  tests/test_settings.cpp
  tests/test_settings_ui.cpp
  tests/test_simple_json.cpp
  tests/test_udp_broadcaster.cpp
Due: check-header-guards, check-test-naming, check-documentation-build

feat(msfs): add SimConnect GDL90 bridge
  CMakeLists.txt
  README.md
  include/xp2gdl90/msfs_bridge.h
  src/msfs_bridge.cpp
  src/msfs_main.cpp
  tests/test_msfs_bridge.cpp
Due: check-version-consistency, check-cmake-syntax, check-header-guards, check-test-naming, check-documentation-build

ci: update GitHub Actions workflows
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/coverage.yml
Due: none

style: stabilize clang-format output
  src/main.cpp
  src/msfs_bridge.cpp
Due: check-documentation-build

build(msfs): bundle SimConnect SDK for CI
  .github/workflows/build.yml
  .gitignore
  CMakeLists.txt
  MSFS SDK/SimConnect SDK/VS/SimConnectClient-dynamic.props
  MSFS SDK/SimConnect SDK/VS/SimConnectClient-static.props
  MSFS SDK/SimConnect SDK/VS/SimConnectClient.props
  MSFS SDK/SimConnect SDK/include/SimConnect.h
  MSFS SDK/SimConnect SDK/lib/SimConnect.dll
  MSFS SDK/SimConnect SDK/lib/SimConnect.lib
  MSFS SDK/SimConnect SDK/lib/managed/Microsoft.FlightSimulator.SimConnect.dll
  MSFS SDK/SimConnect SDK/lib/static/SimConnect.lib
  MSFS SDK/SimConnect SDK/lib/static/SimConnect_debug.lib
  README.md
Due: check-version-consistency, check-cmake-syntax, check-header-guards, check-documentation-build

fix(msfs): include Windows headers before SimConnect
  include/xp2gdl90/simconnect_compat.h
  src/msfs_main.cpp
Due: check-header-guards, check-documentation-build

fix(msfs): address MSVC bridge build errors
  src/msfs_main.cpp
Due: check-documentation-build

ci(windows): split X-Plane and MSFS artifacts
  .github/workflows/build.yml
  README.md
Due: check-version-consistency, check-documentation-build

feat(msfs): include helicopter traffic in GDL90 reports
  README.md
  src/msfs_main.cpp
Due: check-version-consistency, check-documentation-build

fix(xplane): harden TCAS traffic identity and altitude
  CMakeLists.txt
  README.md
  include/xp2gdl90/traffic_support.h
  src/main.cpp
  src/traffic_support.cpp
  tests/test_traffic_support.cpp
Due: check-version-consistency, check-cmake-syntax, check-header-guards, check-test-naming, check-documentation-build

fix(xplane): keep broadcasts active through replay rewinds
  CMakeLists.txt
  README.md
  include/xp2gdl90/broadcast_clock.h
  src/broadcast_clock.cpp
  src/main.cpp
  tests/test_broadcast_clock.cpp
Due: check-version-consistency, check-cmake-syntax, check-header-guards, check-test-naming, check-documentation-build

feat(xplane): configure traffic broadcasts
  README.md
  include/xp2gdl90/settings.h
  include/xp2gdl90/settings_ui.h
  src/main.cpp
  src/settings.cpp
  src/settings_ui.cpp
  tests/test_settings.cpp
  tests/test_settings_ui.cpp
Due: check-version-consistency, check-header-guards, check-test-naming, check-documentation-build

build(windows): support MinGW plugin builds
  .github/workflows/build.yml
  CMakeLists.txt
Due: check-cmake-syntax

fix(xplane): restore broadcast clock function boundary
  src/main.cpp
Due: check-documentation-build

Path conditions:
  check-build-scripts: any of: ^(build\.sh|build_windows\.bat|build_all\.py)$, but not: (?x)^(
  build/.*|
  \.git/.*|
  SDK/.*|
  Demo/.*|
  __pycache__/.*|
  .*\.xpl|
  .*\.o|
  .*\.so|
  .*\.dylib|
  .*\.dll
)$

  check-version-consistency: any of: ^(VERSION|README\.md)$, but not: (?x)^(
  build/.*|
  \.git/.*|
  SDK/.*|
  Demo/.*|
  __pycache__/.*|
  .*\.xpl|
  .*\.o|
  .*\.so|
  .*\.dylib|
  .*\.dll
)$

  check-cmake-syntax: any of: CMakeLists\.txt$, but not: (?x)^(
  build/.*|
  \.git/.*|
  SDK/.*|
  Demo/.*|
  __pycache__/.*|
  .*\.xpl|
  .*\.o|
  .*\.so|
  .*\.dylib|
  .*\.dll
)$

  check-header-guards: any of: \.(h|hpp)$, but not: (?x)^(
  build/.*|
  \.git/.*|
  SDK/.*|
  Demo/.*|
  __pycache__/.*|
  .*\.xpl|
  .*\.o|
  .*\.so|
  .*\.dylib|
  .*\.dll
)$

  check-plugin-exports: any of: ^(mac_exports\.txt|linux_exports\.txt|win_exports\.def)$, but not: (?x)^(
  build/.*|
  \.git/.*|
  SDK/.*|
  Demo/.*|
  __pycache__/.*|
  .*\.xpl|
  .*\.o|
  .*\.so|
  .*\.dylib|
  .*\.dll
)$

  check-test-naming: any of: ^tests/.*\.(cpp|hpp)$, but not: (?x)^(
  build/.*|
  \.git/.*|
  SDK/.*|
  Demo/.*|
  __pycache__/.*|
  .*\.xpl|
  .*\.o|
  .*\.so|
  .*\.dylib|
  .*\.dll
)$

  check-documentation-build: any of: ^(Doxyfile|.*\.(cpp|hpp|h|md))$, but not: (?x)^(
  build/.*|
  \.git/.*|
  SDK/.*|
  Demo/.*|
  __pycache__/.*|
  .*\.xpl|
  .*\.o|
  .*\.so|
  .*\.dylib|
  .*\.dll
)$

